{% extends 'base.html' %}
{% block head %}
        <title>Buat Resep | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Buat Resep</h1>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            <p>Pasien:
                <select name="pasien">
                    {% for p in pasien %}
                    <option value="{{ p.id }}">{{ p }}</option>
                    {% endfor %}
                </select>
            </p>

            {% for o in obat %}
            <p>Jumlah obat "{{ o }}": <input type="number" min=0 name="obat-{{ o.id }}" value="0" required></p>
            {% endfor %}
            <p><input type="submit" value="Buat Resep"></p>
        </form>
{% endblock %}