{% extends 'base.html' %}
{% block head %}
        <title>Detail Resep | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Detail Resep</h1>
        <p>Id: {{ resep.id }}</p>
        <p>Dokter: {{ resep.dokter }}</p>
        <p>Pasien: {{ resep.pasien }}</p>
        <p>Status: {% if resep.status == 0 %}belum diambil{% else %}sudah diambil{% endif %}</p>
        <p>Obat:</p>
        <ul>
            {% for j in jumlahObat %}
            <li>Jumlah obat "{{ j.obat.nama_obat }}": {{ j.jumlah }}</li>
            {% endfor %}
        </ul>
        {% if resep.status == 0 %}
        <p>Obat sudah diambil:</p>
        <ul>
            {% for j in jumlahObat %}
            <li>Jumlah obat "{{ j.obat.nama_obat }}": {{ j.jumlahDispensed }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% if resep.status == 0 %}
        <a href="{% url 'tebusResep' resep.id %}"><button>Tebus Resep</button></a>
        {% endif %}
{% endblock %}