{% extends 'base.html' %}
{% block head %}
        <title>Login | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Login</h1>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            <p><input type="text" name="username" placeholder="username" required></p>
            <p><input type="password" name="password" placeholder="password" required></p>
            <p><input type="submit" value="Login"></p>
        </form>
{% endblock %}