{% extends 'base.html' %}
{% block head %}
        <title>Register | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Register</h1>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <p style="color:red;">{{ error }}</p>
            {% endif %}
            <p><input type="text" name="username" placeholder="username" required></p>
            <p><input type="email" name="email" placeholder="email" required></p>
            <p><input type="password" name="password1" placeholder="password" required></p>
            <p><input type="password" name="password2" placeholder="confirm password" required></p>
            <select name="peran">
                <option value="{{ DOKTER }}">Dokter</option>
                <option value="{{ PASIEN }}">Pasien</option>
            </select>
            <p><input type="submit" value="Register"></p>
        </form>
{% endblock %}