{% extends 'base.html' %}
{% block head %}
        <title>Resep | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Resep</h1>
        <ul>
        {% for r in resep %}
        <li><a href="{% url 'detailResep' r.id %}">{{ r }}</a></li>
        {% endfor %}
        </ul>
        {% if request.session.role == 0 %}
        <a href="{% url 'buatResep' %}"><button>Buat Resep</button></a>
        {% endif %}
{% endblock %}