{% extends 'base.html' %}
{% block head %}
        <title>Tebus Resep | Mesin Apotek Otomatis</title>
{% endblock %}
{% block body %}
        <h1>Tebus Resep</h1>
        <p>Id: {{ resep.id }}</p>
        <p>Dokter: {{ resep.dokter }}</p>
        <p>Pasien: {{ resep.pasien }}</p>
        <p>Status: {% if resep.status == 0 %}belum diambil{% else %}sudah diambil{% endif %}</p>
        <p>Obat:</p>
        <ul>
            {% for j in jumlahObat %}
            <li>Jumlah obat "{{ j.obat.nama_obat }}": {{ j.jumlah }}</li>
            {% endfor %}
        </ul>
        <p>Obat sudah diambil:</p>
        <ul>
            {% for j in jumlahObat %}
            <li>Jumlah obat "{{ j.obat.nama_obat }}": {{ j.jumlahDispensed }}</li>
            {% endfor %}
        </ul>

        {% if token %}
        <p>Token: {{ token.token }}</p>
        <p>Expired: {{ token.expiry|date:'d M Y H:i:s' }} WIB</p>
        {% endif %}
{% endblock %}